.main-layout
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #CBDEE6;
}
.App
{
    min-height: 100vh;
}

#content
{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    flex: 1 0 auto;
}
.ant-form-item-label > label {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4px;
}


.ant-form-item-label > label.ant-form-item-required::after {
    margin:0;
    padding: 0;
}


#form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0;
}

.input
{
    width: 100%;

}
.input .ant-form-item-label label
{
    color: var(--text);
    font-weight: bold;
}
.ins {
    height: 2.5rem;
    width: 100%;
}
a {
    text-decoration: underline;
    color: var(--text-a);
}
#choice
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choice .ant-divider
{
    width: 100%;
    border: var(--text-a);
}
#login
{
    background-color: var(--button1);
    border: none;
    border-radius: 20px;
    height: 2rem;
    width: 40%;
    max-width: 200px;
    margin-top:1rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login:hover
{
    background-color: var(--button1-hover);
    cursor: pointer;
}
#signin
{
    background-color: var(--button2);
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    width: 100%;
    max-width: 280px;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signin:hover
{
    background-color: var(--button2-hover);
    cursor: pointer;
}
.mid-text
{
    color: var(--text);
    text-align: center;
}


.modal-h,
.modal-p
{
    color: var(--text-a);
}
.modal-par
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}



