@import "../../../styles/reset.css";
#cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button
{
    background-color: var(--button1);
    border: none;
    border-radius: 2rem;
    height: 2rem;
    width: 6rem;
}
button:hover
{
    background-color: var(--button1-hover);
}
